<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <% for(let i =0; i < posts.length; i++){ %>
    <h4>할일 : <%= posts[i].제목 %></h4>
    <p>할일 마감날짜 : <%= posts[i].날짜 %></p>
  <% } %>

</body>
</html>
<!-- server.js에서 /list로 접속하게되면 posts라는 이름으로 디비데이터를 보내줌 -->